<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_deLocation_deVoiture.Properties.Settings.LocationVoitureConnectionString"
            connectionString="Data Source=DESKTOP-66OT1TA\SQLEXPRESS;Initial Catalog=LocationVoiture;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>